{{#if icon}}
	<span {{bind-attr class=iconClassName aria-hidden=iconHiddenToScreenReader}}></span>
{{/if}}

{{#if fallback}}
	{{#if text}}
		<span {{bind-attr class=fallbackTextClassName}}>
			{{text}}
		</span>
	{{/if}}
{{/if}}


{{yield}}
