/*
	ember-accessible-icon

	app.styl

	Author: Sean Goresht

	Created on 2015-03-24 by PhpStorm
*/
@import url("../assets/fonts/icomoon/style.css");
.icon-fallback-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -500%;
}
